@import 'login.scss';
@import 'search-box.scss';
@import 'pagination.scss';

@mixin flex($justify, $align, $wrap: wrap) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-wrap: $wrap;
}

.carousel-inner {
    background: linear-gradient(0deg, rgba(60, 63, 67, 0.2), rgba(60, 63, 67, 0.2));
}

.carousel-indicators {
    margin: 0;
    bottom: 0;
    background: linear-gradient(0deg, rgb(60 63 67 / 43%), rgba(60, 63, 67, 0.2))
}

.carousel-caption {
    background: linear-gradient(0deg, rgb(60 63 67 / 43%), rgba(60, 63, 67, 0.2))
}

.carousel-item {
    // overflow: hidden;

    figure {

        img {
            height: 400px;
            object-fit: cover;
        }
    }
}

.trending {
    @include flex(center, baseline);

    .item {
        a {
            text-decoration: none;
            color: #000
        }

        @media (max-width:432px) {
            width: 115px;
        }

        max-width: 200px;
        margin: 0 .5rem;

        .trendImage {
            @media (min-width:432px) {
                height: 200px
            }
        }

        figcaption {
            min-height: 120px;
            padding: .5rem 1rem 0;
        }
    }

}

// ------------------ Product details ---------------------
.product-detail {
    button {
        max-width: 130px;
        display: block;
    }
}


// ------------------ Cart details ---------------------
.cart {
    .order-btn {
        display: block;
        max-width: 127px;
    }

    .item {
        @include flex(space-around, center, nowrap);

        @media (max-width: 440px) {
            text-align: center;
            flex-direction: column;
        }

        border-bottom: 1px solid #ccc;
        margin-bottom: 3rem;
    }

    .product-description,
    .product-remove {
        @media (min-width:440px) {
            flex-basis: 200px;
        }
    }

    figure {
        width: 100%;

        @media (min-width:440px) {
            padding: 1rem;
            flex-basis: 250px;
            // height: 100px;
        }
    }
}
