@import 'login.scss';

@mixin flex($justify, $align) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-wrap: wrap;
}

.carousel-inner {
    background: linear-gradient(0deg, rgba(60, 63, 67, 0.2), rgba(60, 63, 67, 0.2));
}

.carousel-indicators {
    margin: 0;
    bottom: 0;
    background: linear-gradient(0deg, rgb(60 63 67 / 43%), rgba(60, 63, 67, 0.2))
}

.carousel-caption {
    background: linear-gradient(0deg, rgb(60 63 67 / 43%), rgba(60, 63, 67, 0.2))
}

.carousel-item {
    // overflow: hidden;

    figure {

        img {
            height: 400px;
            object-fit: cover;
        }
    }
}

.trending {
    @include flex(center, center);
    
    .item {
        max-width: 200px;
        margin: 0 .5rem;

        figcaption {
          min-height: 120px;
          padding: .5rem 1rem 0;
        }
    }

    .trendImage {
        height: 200px
    }
}
