.form-container {
  max-width: 400px;
  margin: auto;
}

.custom-login {
  min-height: 500px;
}

@media (min-width: 976px) {
  .search-box {
    min-width: 500px;
  }
}

.pagination {
  justify-content: center;
  margin: 4rem;
}

.carousel-inner {
  background: linear-gradient(0deg, rgba(60, 63, 67, 0.2), rgba(60, 63, 67, 0.2));
}

.carousel-indicators {
  margin: 0;
  bottom: 0;
  background: linear-gradient(0deg, rgba(60, 63, 67, 0.43), rgba(60, 63, 67, 0.2));
}

.carousel-caption {
  background: linear-gradient(0deg, rgba(60, 63, 67, 0.43), rgba(60, 63, 67, 0.2));
}

.carousel-item figure img {
  height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
}

.trending {
  display: flex;
  justify-content: center;
  align-items: baseline;
  flex-wrap: wrap;
}
.trending .item {
  max-width: 200px;
  margin: 0 0.5rem;
}
.trending .item a {
  text-decoration: none;
  color: #000;
}
@media (max-width: 432px) {
  .trending .item {
    width: 115px;
  }
}
@media (min-width: 432px) {
  .trending .item .trendImage {
    height: 200px;
  }
}
.trending .item figcaption {
  min-height: 120px;
  padding: 0.5rem 1rem 0;
}

.product-detail button {
  max-width: 130px;
  display: block;
}

.cart .order-btn {
  display: block;
  max-width: 127px;
}
.cart .item {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
  border-bottom: 1px solid #ccc;
  margin-bottom: 3rem;
}
@media (max-width: 440px) {
  .cart .item {
    text-align: center;
    flex-direction: column;
  }
}
@media (min-width: 440px) {
  .cart .product-description,
.cart .product-remove {
    flex-basis: 200px;
  }
}
.cart figure {
  width: 100%;
}
@media (min-width: 440px) {
  .cart figure {
    padding: 1rem;
    flex-basis: 250px;
  }
}
